# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../../:\Users\silas\Documents\Studium\8.Semester\bsc_thesis\thesis\nodejs-projects\autoscale\clean6\stack-scale-benchmark\stack\spring-consumer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
